* {
  margin: 0;
}

body {
  background-color: #070707;
}

.app {
  display: flex;
  justify-content: space-evenly;
  background-color: #000000;
  padding: 20px;
}

.app__dropdown {
  background-color: #f9f9fa;
  color: #f1efef;
}

.worldwide {
  color: #f1efef;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #fafafa;
  font-size: 2rem;
}

.app__stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  
}

.app__left {
  flex: 0.9;
}

.app__right {
  background-color: #1E2023;
  border-radius: 5px;
  border: 1px solid #42494D;
  height: 100%;
}

.cardcontent {
  background-color: #1E2023;
}

.app__information > h3 {
  color: #f1efef;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__information > h3:last-of-type {
  margin-top: 1rem;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}

.app__graphTitle {
  margin-top: 50px;
}